@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

:root {

/* Colors */

--clr-white: hsl(0, 0%, 100%);
--clrgray-blue-100: hsl(212, 45%, 89%);
--clr-gray-blue-500: hsl(220, 15%, 55%);
--clr-gray-blue-900: hsl(218, 44%, 22%);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clrgray-blue-100);
  display: grid;
  place-items: center;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  animation: fadeIn 1s ease-in;
}

main {
  background: var(--clr-white);
  box-shadow: 0 2px 16px 0 rgba(146, 146, 146, 0.3);
  border-radius: 20px;
  width: 90%;
  max-width: 20rem;
  padding: 1rem;
}

.qr-code {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.description {
  text-align: center;
  padding: 1.5rem .5rem;
}

.description h1 {
  color: var(--clr-gray-blue-900);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.description p {
  color: var(--clr-gray-blue-500);
}


/* Keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}